In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns

In [2]:
heart = pd.read_csv('./data/heart.csv', names = ['user','date','time', 'heartrate'])
heart.head(3)

   user        date      time  heartrate
0  A010  2016-04-01  00:00:00       78.0
1  A010  2016-04-01  00:01:00       78.0
2  A010  2016-04-01  00:02:00       78.0

In [3]:
sleep = pd.read_csv('./data/sleep.csv', names = ['user', 'date', 'startTime', 'minutesAsleep', 'minutesAwake', 'timeInbed'])
sleep.head(3)

   user        date     startTime  minutesAsleep  minutesAwake  timeInbed
0  A010  2016-04-01  00:31:00.000          470.0          26.0      496.0
1  A010  2016-04-02  02:32:00.000          475.0          18.0      493.0
2  A010  2016-04-05  03:14:00.000          239.0           2.0      241.0

In [4]:
steps = pd.read_csv('./data/steps.csv', names = ['user', 'date', 'time', 'hour', 'minute', 'steps'])
steps.head(3)

   user        date      time  hour  minute  steps
0  A010  2016-04-01  00:00:00   0.0     0.0    0.0
1  A010  2016-04-01  00:01:00   0.0     1.0    0.0
2  A010  2016-04-01  00:02:00   0.0     2.0    0.0

In [5]:
heart.fillna(0)
mean_heart = heart.groupby(['user','date'])['heartrate'].mean().reset_index()
mean_heart.head(3)

  user        date  heartrate
0  A01  2016-04-01  84.276132
1  A01  2016-04-02  83.300429
2  A01  2016-04-03  87.374734

In [6]:
mean_steps = steps.groupby(['user', 'date'])['steps'].sum().reset_index()
steps = mean_steps['steps'].div(2)
mean_steps['steps'] = steps

In [7]:
total_data = mean_steps.merge(sleep, how = 'left', on = ['date', 'user'])
total_data = total_data.merge(mean_heart, how = 'left', on = ['date', 'user'])
total_data = total_data.drop_duplicates(keep = 'first')
total_data.head(3)

,user,date,steps,startTime,minutesAsleep,minutesAwake,timeInbed,heartrate
0,A01,2016-04-01,13468.0,02:39:00.000,485.0,26.0,511.0,84.276132
2,A01,2016-04-02,9446.0,02:09:00.000,512.0,37.0,549.0,83.300429
4,A01,2016-04-03,6084.0,NaN,NaN,NaN,NaN,87.374734

In [8]:
total_data.to_csv('./data/total_data.csv', index = False)